.jumbotron.text-center
  %h1.h3 Photokeeper
  %p The best place in the world for storing your photos!
  %a.btn.btn-success{href: '#', id: 'example'} Look at the example
  or
  %a.btn.btn-primary{href: '#', id: 'sign_up'} Sign Up
  %a.btn.btn-link{href: '#', id: 'sign_in'} Sign In
