.jumbotron.text-center
  %h1.h3 Photokeeper
  %p The best place in the world for storing your photos!
  %a.btn.btn-success{href: try_path} Look at the example!
  or
  %a.btn.btn-primary{href: new_user_registration_path, id: 'sign_up'} Sign Up
  %a.btn.btn-link{href: new_user_session_path, id: 'sign_in'} Sign In
