%ol.breadcrumb
  %li.active= full_name_from_params(@username)

%header#feed-links
  %ul.nav.nav-tabs{data: {spy: 'affix', offset_top: '150'}}
    %li.active#all
      %a{href: '#show-all'} All
    %li#photos
      %a{href: '#show-photos'} Photos
    %li#albums
      %a{href: '#show-albums'} Albums
    %li#comments
      %a{href: '#show-comments'} Comments
%br
#feed
  = render partial: 'users/object'

%hr
#feed-loader{style: 'margin-bottom: 100px'}
  = render 'users/feed_loader'
