.modal-dialog
  .modal-content
    .modal-header
      %button.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
        %span{'aria-hidden' => 'true'} &times;
      %h1.h3 Delete Album
    .modal-body.text-center
      %h2.h3 This action will delete '#{@album.title}' with ALL photos inside it.
      %h2.h3.text-uppercase Are you sure???
    .modal-footer
      %button.btn.btn-default{data: {dismiss: 'modal'}} Really? Then NO!
      = link_to 'Delete', @album, method: :delete, class: 'btn btn-danger'

