%ol.breadcrumb
  %li
    %a{href: feed_url(@username)}= full_name_from_params(@username)
  %li.active Albums
- if @username == snake_case(current_user.full_name)
  %button.btn.btn-link{data: {toggle: 'modal', target: '#create-album'}} Create New Album

#create-album.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'albums/new'

.masonry
  = render @albums
