.pull-right
  %button.btn.btn-link{data: {toggle: 'modal', target: '#create-album'}} Create New Album
%ol.breadcrumb
  %li.active Albums

#create-album.modal.fade{tabindex: '-1', role: 'dialog'}
  = render 'albums/new'

.masonry
  = render @albums
