.masonry
  - @albums.each do |album|
    .thumbnail
      = gravatar_for current_user
      %hr
      .caption
        = link_to album, class: 'btn btn-primary pull-right' do
          Photos
          %span.badge= album.photos.count
        %h2.h4= album.title
