%ol.breadcrumb
  %li
    %a{href: albums_url} Albums
  %li
    %a{href: @photo.album}= @photo.album.title
  %li.active= @photo.title

.masonry
  .thumbnail
    gravatar_for current_user
    .caption
      %h2.h4= @photo.title
      %p= @photo.caption
