// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  margin: 5px;
}

body {
  background-image: url('background.png');
  .jumbotron {
    box-shadow: 10px -10px 10px, -10px 10px 10px;
  }
}
