%header
  %nav.navbar.navbar-inverse.row
    .navbar-header
      %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '#menu'},
        'aria-expanded' => 'false'}
        %span.sr-only Toggle View Profile
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_url} Photokeeper
