#menu.collapse.navbar-collapse
  %aside.panel.panel-default
    - cache current_user do
      .panel-body.text-center
        = render partial: 'users/user', object: current_user
        .btn-group.btn-group-xs
          %a.btn.btn-default{href: followers_url(username: snake_case(current_user.full_name))}
            Followers
            - cache current_user.followers do
              %span.badge= current_user.count_of_followers
          %a.btn.btn-default{href: following_url(username: snake_case(current_user.full_name))}
            Following
            - cache current_user.following do
              %span.badge= current_user.count_of_following
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{href: feed_url(username: snake_case(current_user.full_name))} Feed
          %li
            %a{href: albums_url(username: snake_case(current_user.full_name))} Albums
          %li
            %a{href: edit_user_registration_url} Settings
          %hr
          %li
            %a{href: destroy_user_session_path, data: {method: 'delete'}} Sign Out
