#menu.collapse.navbar-collapse
  %aside.panel.panel-default
    .panel-body.text-center
      .thumbnail
        = avatar_for current_user
        .caption
          = current_user.full_name
      .btn-group.btn-group-xs
        %button.btn.btn-default
          Followers
          %span.badge= current_user.followers.count
        %button.btn.btn-default
          Following
          %span.badge= current_user.following.count
      %ul.nav.nav-pills.nav-stacked
        %li{class: controller_name == 'feed' ? 'active' : ''}
          %a{href: '#'} Feed
        %li{class: controller_name == 'albums' ? 'active' : ''}
          %a{href: albums_url} Albums
        %li{class: controller_name == 'photos' ? 'active' : ''}
          %a{href: photos_url} Photos
        %li{class: controller_name == 'registrations' ? 'active' : ''}
          %a{href: edit_user_registration_url} Settings
        %hr
        %li
          %a{href: destroy_user_session_path, data: {method: 'delete'}} Sign Out
